In [34]:
import pandas as pd
import os

In [35]:
current_path = os.getcwd()
dirname, filename = os.path.split(current_path)
print(dirname, filename)

C:\Users\saksh\Documents\20220502_Mlflow_Example notebooks

In [36]:
data_dir= os.path.join(dirname, 'files')
print(data_dir)

C:\Users\saksh\Documents\20220502_Mlflow_Example\files

In [37]:
train_file_path = os.path.join(data_dir, "step1\\train.parquet")

In [38]:
#traindf= pd.read_csv(train_file_path)
traindf= pd.read_parquet(train_file_path)

In [39]:
traindf.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Friend(s),Sunny,80,2PM,Restaurant(20-50),2h,Female,21,Unmarried partner,...,1~3,less1,1~3,never,1,1,0,0,1,0
1,No Urgent Place,Partner,Sunny,80,10AM,Restaurant(20-50),1d,Male,41,Divorced,...,less1,1~3,1~3,1~3,1,0,0,0,1,1
2,Work,Alone,Snowy,30,7AM,Carry out & Take away,1d,Female,50plus,Married partner,...,4~8,less1,1~3,less1,1,1,0,1,0,1
3,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,26,Single,...,1~3,gt8,gt8,gt8,1,1,0,0,1,1
4,Home,Alone,Sunny,80,6PM,Restaurant(<20),1d,Female,50plus,Married partner,...,4~8,less1,1~3,less1,1,0,0,1,0,1

## Analysis Functions

In [40]:
def Columns_to_drop(df):
    #Find out which columns have null values and total number of Nan values in that column
    # Determine percentage of missing data in a particular column for cleaning of the Data. 
    # Columns in data with more than 95% null should be dropped.
    null_count = df.isna().sum()
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_val_columns =list(percent_missing[percent_missing > 95].index)
    return missing_val_columns

In [41]:
def Missing_Val_Columns_to_fill(df):
    #Finding the value counts for columns with percent_missing between 0 and 95%
    #Replacing Nan values in each of these columns with most frequent value in that column.
    percent_missing = df.isnull().sum() * 100 / len(df)
    missing_val_col_list_to_fill = list(percent_missing[(percent_missing > 0) & (percent_missing < 95)].index)
    
    return missing_val_col_list_to_fill

## Action Functions

In [42]:
def Drop_Missing_Val_Columns(df, col_list_to_drop):
    df.drop(columns=col_list_to_drop, inplace=True)
    return df

In [43]:
def Fill_missing_Val_Columns(df, col_list_to_fill):
    for i in col_list_to_fill:
        df[i] = df[i].fillna(df[i].value_counts().index[0])
            #print(df[i].isna().sum())
    return df

## Flow

In [44]:
MISSING_VAL_COLUMNS = Columns_to_drop(traindf)
print(MISSING_VAL_COLUMNS)

['car']

In [45]:
MISSING_VAL_COLUMNS_TO_FILL = Missing_Val_Columns_to_fill(traindf)
print(MISSING_VAL_COLUMNS_TO_FILL)

['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50']

In [46]:
traindf = Fill_missing_Val_Columns(traindf, MISSING_VAL_COLUMNS_TO_FILL)

In [47]:
traindf = Drop_Missing_Val_Columns(traindf, MISSING_VAL_COLUMNS)

In [48]:
traindf_cleaned= traindf

In [49]:
train_cleaned_file_path = os.path.join(data_dir, "step2\\train_cleaned.parquet")
traindf_cleaned.to_parquet(train_cleaned_file_path, index=False)

## Remarks

### CONFIG

In [50]:
#MISSING_VAL_COLUMNS = ['car']
#MISSING_VAL_COLUMNS_TO_FILL = ['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50']

In [12]:
import yaml
with open("./src/utils/config.yml") as file:
    try:
        databaseConfig = yaml.safe_load(file)   
        print(databaseConfig)
    except yaml.YAMLError as exc:
        print(exc)

{'Categorical_Features': ['destination', 'passanger', 'weather', 'time', 'coupon', 'expiration', 'gender', 'age', 'maritalStatus', 'education', 'occupation', 'income', 'Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50'], 'Numerical_Features': ['temperature', 'has_children', 'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp', 'Y'], 'MISSING_VAL_COLUMNS': ['car'], 'MISSING_VAL_COLUMNS_TO_FILL': ['Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50'], 'dict_for_clubbing': {'RestaurantLessThan20': {'1~3': '1~8', '4~8': '1~8'}, 'CarryAway': {'1~3': '1~8ngt8', '4~8': '1~8ngt8', 'gt8': '1~8ngt8', 'less1': 'less1_never', 'never': 'less1_never'}, 'CoffeeHouse': {'1~3': '1~8ngt8', '4~8': '1~8ngt8', 'gt8': '1~8ngt8'}, 'Bar': {'1~3': '1~8', '4~8': '1~8'}, 'income': {'$12500 - $24999': '$12500-$62499', '$25000 - $37499': '$12500-$62499', '$37500 - $49999': '$12500-$62499', '$50000 - $62499': '$12500-$62499', '$75000 - $87499': '$62499-$99999', '$87500 - $99999': '$62499-$99999', '$62500 - $74999': '$62499-$99999'}, 'occupation': {'Architecture & Engineering': 'Arch_cons_Health_Food_Farm', 'Construction & Extraction': 'Arch_cons_Health_Food_Farm', 'Healthcare Support': 'Arch_cons_Health_Food_Farm', 'Food Preparation & Serving Related': 'Arch_cons_Health_Food_Farm', 'Healthcare Practitioners & Technical': 'Arch_cons_Health_Food_Farm', 'Farming Fishing & Forestry': 'Arch_cons_Health_Food_Farm', 'Business & Financial': 'Arts_Comm_Building_Buss_Edu_Retired', 'Education&Training&Library': 'Arts_Comm_Building_Buss_Edu_Retired', 'Retired': 'Arts_Comm_Building_Buss_Edu_Retired', 'Arts Design Entertainment Sports & Media': 'Arts_Comm_Building_Buss_Edu_Retired', 'Community & Social Services': 'Arts_Comm_Building_Buss_Edu_Retired', 'Building & Grounds Cleaning & Maintenance': 'Arts_Comm_Building_Buss_Edu_Retired', 'Computer & Mathematical': 'comp_Inst_Pers_Sales_Unemployed', 'Installation Maintenance & Repair': 'comp_Inst_Pers_Sales_Unemployed', 'Personal Care & Service': 'comp_Inst_Pers_Sales_Unemployed', 'Sales & Related': 'comp_Inst_Pers_Sales_Unemployed', 'Unemployed': 'comp_Inst_Pers_Sales_Unemployed', 'Student': 'Stud_manage_off_Trans_Protect_Life_Prod', 'Management': 'Stud_manage_off_Trans_Protect_Life_Prod', 'Office & Administrative Support': 'Stud_manage_off_Trans_Protect_Life_Prod', 'Transportation & Material Moving': 'Stud_manage_off_Trans_Protect_Life_Prod', 'Protective Service': 'Stud_manage_off_Trans_Protect_Life_Prod', 'Life Physical Social Science': 'Stud_manage_off_Trans_Protect_Life_Prod', 'Production Occupations': 'Stud_manage_off_Trans_Protect_Life_Prod'}, 'education': {'Bachelors degree': 'Bach_Mast_Asso', 'Associates degree': 'Bach_Mast_Asso', 'Graduate degree (Masters or Doctorate)': 'Bach_Mast_Asso', 'Some college - no degree': 'Nodeg_HSGrad', 'High School Graduate': 'Nodeg_HSGrad'}, 'maritalStatus': {'Married partner': 'Married_Divorced_Widowed', 'Divorced': 'Married_Divorced_Widowed', 'Widowed': 'Married_Divorced_Widowed', 'Single': 'Single_Unmarriedpartner', 'Unmarried partner': 'Single_Unmarriedpartner'}, 'age': {'26': 'below26', '21': 'below26', 'below21': 'below26', '31': 'above26', '50plus': 'above26', '36': 'above26', '41': 'above26', '46': 'above26'}, 'coupon': {'Restaurant(20-50)': 'Rest(20-50)_n_Bar', 'Bar': 'Rest(20-50)_n_Bar', 'Restaurant(<20)': 'Rest(<20)_CH_CT', 'Coffee House': 'Rest(<20)_CH_CT', 'Carry out & Take away': 'Rest(<20)_CH_CT'}, 'destination': {'Home': 'Home_n_Work', 'Work': 'Home_n_Work'}, 'passanger': {'Alone': 'Alone_n_Kids', 'Kid(s)': 'Alone_n_Kids'}, 'weather': {'Snowy': 'Snowy_n_Rainy', 'Rainy': 'Snowy_n_Rainy'}, 'time': {'7AM': '7AM_n_10PM', '10PM': '7AM_n_10PM', '6PM': '6PM_10AM_2PM', '10AM': '6PM_10AM_2PM', '2PM': '6PM_10AM_2PM'}}, 'dict_to_get_ordinal_features': {'destination': {'No Urgent Place': 2, 'Home_n_Work': 1}, 'passanger': {'Alone_n_Kids': 3, 'Partner': 2, 'Friend(s)': 1}, 'weather': {'Sunny': 2, 'Snowy_n_Rainy': 1}, 'time': {'6PM_10AM_2PM': 2, '7AM_n_10PM': 1}, 'coupon': {'Rest(<20)_CH_CT': 2, 'Rest(20-50)_n_Bar': 1}, 'expiration': {'1d': 2, '2h': 1}, 'gender': {'Male': 2, 'Female': 1}, 'age': {'below26': 2, 'above26': 1}, 'maritalStatus': {'Single_Unmarriedpartner': 2, 'Married_Divorced_Widowed': 1}, 'education': {'Some High School': 3, 'Nodeg_HSGrad': 2, 'Bach_Mast_Asso': 1}, 'occupation': {'Arch_cons_Health_Food_Farm': 5, 'Stud_manage_off_Trans_Protect_Life_Prod': 4, 'comp_Inst_Pers_Sales_Unemployed': 3, 'Arts_Comm_Building_Buss_Edu_Retired': 2, 'Legal': 1}, 'income': {'Less than $12500': 4, '$12500-$62499': 3, '$100000 or More': 2, '$62499-$99999': 1}, 'car': {'Car that is too old _n_Mazda5': 4, 'Scooter and motorcycle': 3, 'do not drive': 2, 'crossover': 1}, 'Bar': {'1~8': 4, 'less1': 3, 'gt8': 2, 'never': 1}, 'CoffeeHouse': {'1~8ngt8': 3, 'less1': 2, 'never': 1}, 'CarryAway': {'1~8ngt8': 2, 'less1_never': 1}, 'RestaurantLessThan20': {'gt8': 4, '1~8': 3, 'never': 2, 'less1': 1}, 'Restaurant20To50': {'gt8': 5, '4~8': 4, '1~3': 3, 'less1': 2, 'never': 1}}, 'DROP_COL_LIST_WITH_ONE_CLASS': ['toCoupon_GEQ5min'], 'TEN_BEST_FEATURES_OBSERVED_SELECTION': ['passanger', 'coupon', 'CoffeeHouse', 'destination', 'expiration', 'toCoupon_GEQ25min', 'Bar', 'gender', 'Restaurant20To50', 'temperature']}

In [14]:
databaseConfig['MISSING_VAL_COLUMNS']

['car']

In [11]:
os.chdir('c:\\Users\\saksh\\Documents\\20220502_Mlflow_Example\\')